---
layout: page
---
{% assign posts = site[page.article_collection] | sort: 'order' | reverse %}
{{ content | markdownify }}
<button type="button" class="collapsible toc-collapsible" aria-expanded="false" aria-controls="articleTableOfContents">Table of Contents</button>
<div class="collapse-content" id="articleTableOfContents">
  <div class="toc"><ul>
    {% for article in posts %}
      <li><a href="#{{ article.slug | escape }}">{{ article.title | escape }}</a></li>
    {% endfor %}
  </ul></div>
</div>
{% for article in posts %}
  <section class="article-block" id="{{ article.slug | escape }}">
    {% if article.image %}
      <figure class="article-cover"><img src="{{ article.image | relative_url }}" alt="{{ article.title | escape }}" /></figure>
    {% endif %}
    {{ article.content }}
    <ul class="icons article-link"><li>
      <a href="#{{ article.slug | escape }}" class="icon solid fa-share share-article glass-icon-button" data-share-hash="#{{ article.slug | escape }}" aria-label="Copy link to {{ article.title | escape }}" title="Share"><span class="label">Copy share link</span></a>
    </li></ul>
  </section>
{% endfor %}
